---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Conspiracy Warehouse',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Map',
        href: '#',
        target: '_blank',
        icon: 'tabler:masks-theater',
      },
       {
        text: 'Random...',
        href: '#',
        target: '_blank',
        icon: 'tabler:masks-theater',
      },
    
    ]}
  >
    <Fragment slot="title">
      Conspiracy theories<span class="hidden xl:inline"> </span>
      <span class="text-accent dark:text-white highlight"> database</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Explore</span> a curated collection of conspiracy theories spanning politics, science, and more.
       </span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600"></span>
       Designed for researchers, students, and journalists, our repository offers in-depth analysis and credible sources, fostering critical thinking and informed discourse.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Explore more content in database"
    information={`Engage with content spanning government cover-ups, scientific mysteries, and historical enigmas. Designed for curious minds, researchers, students, and journalists. 
                `}
  />
</Layout>
