---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Conspiracy theories',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Browse',
        href: '#',
        target: '_blank',
        icon: 'tabler:masks-theater',
      },
       {
        text: 'Random...',
        href: '#',
        target: '_blank',
        icon: 'tabler:masks-theater',
      },
     ]}
    image={{ src: 'https://cdn.leonardo.ai/users/4622daa4-ee81-4a34-a0af-f70d517e60ad/generations/79827218-8845-4c15-ac29-0937ee3056c9/Leonardo_Vision_XL_A_stunning_cover_photo_for_Chemtrails_Consp_0.jpg', alt: 'Hero Image' }}
  >
    <Fragment slot="title">
      Conspiracy <span class="hidden xl:inline"> </span>
      <span class="text-accent dark:text-white highlight"> theories</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Explore</span> a collection of conspiracy theories spanning politics, science, and more.
       </span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600"></span>
       Designed for researchers, students, and journalists, repository offers in-depth analysis and credible sources.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Explore more content in database"
    information={`Engage with content spanning government cover-ups, scientific mysteries, and historical enigmas. Designed for curious minds, researchers, students, and journalists. 
                `}
  />
</Layout>
